.calendar{ 
   position:absolute; 
   width: 960px;
   top: 162px;
   left: 140px; 
}

html, body, {
    position:fixed;
    top:auto;
    bottom:auto;
    left:auto;
    right:auto;
}
 
div.date, div.days{ 
   font-family: monospace;
   font-size: 20px;
   width: 130px;   
   float: inherit; 
   margin: 2px;
}

.center{
   text-align: center;
}
.blankday{ 
   background:#DADADA;
   border-radius: 5px; 
}
div.date{ 
   height: 120px; 
} 
.today{ 
  background:#8CC8FC;
  border-radius: 10px;
  color: white;
}
div.sun{
   background-color: #ff4949;
}
div.mon{
   background-color: #f8f9be;
}
div.tue{
   background-color: #ffb3d0;
}
div.wed{
   background-color: #91e99b;
}
div.thr{
   background-color: #ffa953;
}
div.fri{
   background-color: #bfefff;
}
div.sat{
   background-color: #8890dd;
}
.button {
   position: absolute;
   left: 890px;
   top: 63px;
   transition-duration: 0.4s;
   background-color: #213145;
   border: none;
   font-size: 20px;
   color: white;
   font-family: monospace;
}
.button:hover {
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.button2 {
   position: absolute;
   left: 976px;
   top: 63px;
   transition-duration: 0.4s;
   background-color: #213145;
   border: none;
   font-size: 20px;
   color: white;
   font-family: monospace;
}
.button2:hover {
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.month{
   font-family: monospace;
   font-size: 100px;
   position: absolute;
   left: 65px;
   top: -12px;
}
.position {
   position: absolute;
   top: 15px;
   right: 17px;
   font-family: monospace;
}

.button3
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 122px;
  bottom: 52px; 
  font-family: monospace;
}
.button3:hover
{
  background-color: #64DFA2;
}

.button4
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 112px;
  bottom: 23px;
  font-family: monospace;
}
.button4:hover
{
  background-color: #FE6D6D;
}

.todaybutton
{
  position: absolute;
  left:1105px;
  top: 63px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}
.todaybutton:hover
{
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vl {
  border-left: 4px solid black;
  height: 687px;
  position: absolute;
  right: 221px;
  margin-left: -3px;
  top: 107px;
}

.dropbtn {
  position: absolute;
  left: 1217px;
  top: 61px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 1217px;
  top: 87px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: monospace;
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8CECFF; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

#add
{
  height: 50px;
  width: 10px;
  background-color: #f1f1f1;
  position: absolute;
  right: 200px;
}

.myButton
{
  position: absolute;
  top: 61px;
  right: 200px;
  font-family: monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}
.myButton:hover
{
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#myDiv {
  position: absolute;
  top:120px;
  right:100px;
  padding: 10px;
  padding-left: 15px;
  font-family: monospace;
  border:0px solid;
  background-color: #8bcac2;
  width: 250px;
  height: 215px;
  float: right;
}

h1{ margin: 0; }
#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  top: 42px;
  right: 44px;
  margin: 4em auto;
  font-family: monospace;
  border-radius: 20px;
  font-size: 20px;
  width: 130px; 
  height: 30px; 
  line-height: 30px;
  background: #F77527;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}
#contact:hover { background: #FFB653; }

#contactForm { 
  font-family: monospace;
  display: none;
  border-radius: 20px; 
  padding: 2em;
  width: 241px;
  height: 305px;
  text-align: center;
  background: #FBFBFB;
  position: fixed;
  z-index: 3;
  top:50%;
  left:45%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}

.formBtn { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.logout
{
  position: absolute;
  top: 57px;
  right: 62px;
  padding-bottom:4px;
  padding-left: 7px;
  padding-right: 7px; 
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  background-color: #FF5372;
  border: none;
  font-size: 20px;
  color: white;
}
.logout:hover
{
  background-color: #F47E9E;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#title
{
  background-color: #FBFBFB; 
  border: 0px; 
  border-bottom: 2px solid #C6EFFB;
  font-family: monospace;
  font-size: 18px;
  padding: 3px;
}

#position_d
{
  position: relative;
  top: 35px;
  left: -5px;
}

#position_t
{
  position: relative;
  top: 45px;
  left: -6px;
}

#position_t2
{
  position: relative;
  top: 50px;
  left: 55px;
}

#position_des
{
  position: relative;
  top: 61px;
  left: 4px;
}

#position_c
{
  position: relative;
  top: 75px;
  left: -73px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 0px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px 0px 0px 0px;
}
input[type="color"]::-webkit-color-swatch {
  border: 0px;
  border-radius: 10px;
}

a {
  text-decoration-line: none;
}

.timeweek{
  width: 130px; height: 40px;
  background: #CDF1EF;
  border: 0.5px solid #F7F5F7;
  border-radius: 10px;
  color: black;
  padding: 5px;
  font-family: monospace;
  font-size: 15px;
  position: relative;
  top: -5px;
  left: 2px;
}
.timeweek:hover {
  background-color: #BDD3F6;
}

#style-2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #EEEEEE;
}

#style-2::-webkit-scrollbar
{
  width: 12px;
  background-color: #EEEEEE;
}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: #FFA459;
}