.button3
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 60px;
  color: white;
  position: absolute;
  left: 122px;
  bottom: 15px; 
}
.button3:hover
{
  background-color: #64DFA2;
}

.button4
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 60px;
  color: white;
  position: absolute;
  left: 354px;
  bottom: 15px;
}
.button4:hover
{
  background-color: #FE6D6D;
}

#title
{
  background-color: #FEFFF1; 
  border: 0px; 
  border-bottom: 2px solid #C6EFFB;
  font-family: monospace;
  font-size: 100px;
  padding: 3px;
  position: relative;
  left: 40px;
}

#position_d
{
  position: relative;
  font-size: 50px;
  top: 35px;
  left: 40px;
}

#position_t
{
  position: relative;
  font-size: 50px;
  font-family: monospace;
  top: 45px;
  left: 40px;
}

#position_t2
{
  position: relative;
  font-size: 50px;
  font-family: monospace;
  top: 50px;
  left: 276px;
}

#position_des
{
  position: relative;
  font-size: 50px;
  top: 61px;
  left: 44px;
}

#position_c
{
  position: relative;
  font-size: 50px;
  top: 75px;
  left: 37px;
}

input[type="color"] {
  -webkit-appearance: none;
  font-size: 100px;
  border: 0px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px 0px 0px 0px;
}
input[type="color"]::-webkit-color-swatch {
  border: 0px;
  border-radius: 30px;
}

a {
  text-decoration-line: none;
  color: white;
}