table {
	position: absolute;
	top: 240px;
	left: 390px;
}

td {
	font-family: monospace;
	font-size: 20px;
	padding: 4px;
}

h1 {
	font-family: monospace;
   	font-size: 100px;
   	position: absolute;
   	left: 545px;
   	top: -26px;
}

h2 {
	font-family: monospace;
	font-size: 25px;
	top: 169px;
}

.box {
	border-radius: 5px;
	width: 100px;
	height: 5px
}

a {
	text-decoration: none;
	color: white;
}

.button {
   position: absolute;
   left: 152px;
   top: -9px;
   transition-duration: 0.4s;
   background-color: #213145;
   border: none;
   font-size: 20px;
   color: white;
}
.button:hover {
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vl {
  border-left: 4px solid black;
  height: 818px;
  position: absolute;
  right: -46px;
  margin-left: -3px;
  top: -6px;
}

.dropbtn {
  position: absolute;
  left: 1626px;
  top: 51px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 1465px;
  top: 51px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: monospace;
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8CECFF; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.logout
{
  position: absolute;
  top: 747px;
  right: -191px;
  padding-bottom:4px;
  padding-left: 7px;
  padding-right: 7px; 
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  background-color: #FF5372;
  border: none;
  font-size: 20px;
  color: white;
}
.logout:hover
{
  background-color: #F47E9E;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

