/*when you error*/
.error { color: red; }

/*box of calendar*/
.calendar{ 
   position:relative; 
   width: 60%; 
   top: 0px;
   left: 5%;
} 


a { 
  text-decoration: none;
}

/*box of calendar*/
.calendar1{ 
   position:relative; 
   width: 960px; 
   top: 0px;
   left: 20px;

} 
.calendar2{ 
   position:relative; 
   top: 3%;
   z-index: 2;


} 
.calendar3{ 
   position:absolute; 
   width: 95%;
   top: 17%;
   left: 5%;
   z-index: 2;


}
.draggable{
	font-family: monospace;


}

div.date, div.days{ 
    width: 53px; 
    border: 1px solid #C1BEAE;  
    float: left; 
    margin: 1px;
    border-radius: 5px;
    text-align:center;
	color: #E782FF;
	z-index: 2;
	font-family: monospace;


} 
            
div.date{ 
    height: 20px; 
} 
div.date:hover {
	background-color: #BDD3F6; 
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1;
 }
 /*header of topic*/
.header{
	background-color: #FFA2AD;
	height: 80px;
	width: auto;
}
.box{
  width: 100%;
  height: 100%;
  z-index: 0;  
  background-color: #FAF6FA;
  top:;
}
.left1{
	z-index: 1;
	height: 63%;
	width: 27%;
	left: 72%;
	top: 23%;
	position: absolute;
	background-color: #FFCD8A;
	border-radius: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.right1{
	z-index: 0;
	height: 80%;
	width: 40%;
	right: 490px;
	top: 24%;
	background-color: white;
	position: absolute;
	border-radius: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.date_p:hover ,.timeweek:hover { 
  background-color: #DADADA;
   border-radius: 10px;
  z-index: 2;
}
.point_dot{
	position: absolute;
	top: 85%;
	left: 25%;
}



/*position of day to show on the head*/
.dd{
	position: absolute;
	left: 90px;
	top: 20px;
}
.time{
	font-size: 20px;
	color:  #E97FE5;
	width: 300px;
	border: 1px solid #C45FDD; 
	border-radius: 20px;
	padding: 10px; 
	height: 100px;
}

.time1{
	font-size: 10px;
	color:  #E97FE5;
	width: 120px;
	border: 1px solid #C45FDD; 
	border-radius: 10px;
	padding: 5px; 
	text-overflow: ellipsis;
	overflow: hidden;
	
}

.time2{
	width: 94%;
	height: 50px;
	border: 1px solid lavenderblush;
	font-size: 15px;
	border-radius: 10px;
	padding: 5px; 
	font-family: monospace;
	position: relative;
	left: 19px;



}



/*bar of right on page calendar*/
.right{
	height: 100%;
	width: 30%;
	background-color: #FFE4E1;
	right: 0px;
	z-index: 0;
	position: fixed;

}

.right_top{
	font-size: 20px;
	color: #980542;
	top: 5%;
	position: absolute;
	left: 35%;
	font-family: monospace;

}


.member_register{
	position: absolute;
	top: 30%;
	left: 10%;
}
div.date, div.days{ 
	width: 13%;  
  	float: left; 
  	margin: 1px;
	color: #121313;
	border: 1px solid #C1BEAE; 
	z-index: 0;
	border-radius: 5px;
	padding: 10px; 

} 
div.days_wv{ 
	 
  	float: left; 
  	margin: 1px;
	color: #777777;
	border: 1px solid #FFF5EE; 
	z-index: 0;
	border-radius: 20px;
	padding: 10px; 

} 


.top{
	font-size: 326%;
	color: #FFF0F5;
}
.top2{
	font-size: 30px;
	top: 7%;
	left: -1%;
	position: absolute;
	text-align:center;
	width: 75%;

}
.timeweek{
  width: 120px; height: 40px;
  background: #FAEAFA;
  border: 0.5px solid #F7F5F7;
  border-radius: 10px;
  color:#C657EA;
  padding: 5px;
  	font-family: monospace;

}

.date_h {
  background-color: #FEFFF1; 
  text-decoration: none;
  -webkit-background-size: 200% auto;

}

.date_h:hover {
  background-position: -100% 0;
}





.blankday{ background-color: #DADADA; }
div.date{ 
   height: 56px;

} 
.today{ background-color:#8CC8FC; }



div.days1{ background-color: #FE7070;  } 
div.days2{ background-color: #f8f9be;  } 
div.days3{ background-color: #ffb3d0;  } 
div.days4{ background-color: #91e99b;  } 
div.days5{ background-color: #ffa953;  } 
div.days6{ background-color: #bfefff;  } 
div.days7{ background-color: #8890dd;  } 
.day_week{
	color: #121313;
	text-align: center;
	border-radius: 100px;
	font-size: 10px;
	font-family: monospace;

}

.prev{
	top: 20px;
	right: 600px;
	position: absolute;
	font-size: 30px;
	color: #474F52;
	background-color: #FFF1DA;
	width: 50px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border : 0.5px solid #FFF1DA;
	height: 45px;

}

.next{
	top: 20px;
	right: 500px;
	position: absolute;
	font-size: 30px;
	color: #474F52;
	background-color: #FFF1DA;
	width: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border : 0.5px solid #FFF1DA;
	height: 45px;

}



.now{
	top: 20px;
	right: 550px;
	position: absolute;
	font-size: 30px;
	color: #474F52;
	background-color: #FFF1DA;
	width: 50px;
	border : 0.5px solid #FFF1DA;
	height: 45px;

}

.prev2{
	color: #9F78F2;
	background-color: #D1E2F5;
	position: absolute;
	top: 10%;
	left: 70%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border : 0.5px solid #CFE8F3;
	height: 20px;
	width: 7%;

}
.next2{
	color: #9F78F2;
	background-color: #D1E2F5;
	position: absolute;
	top: 10%;
	left: 77%;
	border : 0.5px solid #CFE8F3;
	height: 20px;
	width: 7%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}
.now2{
	color: #9F78F2;
	background-color: #D1E2F5;
	position: absolute;
	top: 33%;
	left: 46%;
	border : 0.5px solid #CFE8F3;
	height: 20px;
	width: 7%;

}
.prev:hover{background-color: #F9DEA4;}
.next:hover{background-color: #F9DEA4;}
.now:hover{background-color: #F9DEA4;}
.prev2:hover{background-color: #E7A7E5;}
.next2:hover{background-color: #E7A7E5;}
.now2:hover{background-color: #E7A7E5;}

.add_appo{
	position: absolute;
	right: 400px;
	top: 20px;
}
.add_appo2{
	position: absolute;
	top: 67%;
	left: 30%;
}
/*position of box day*/
.box_day{
	position: absolute;
	top: 40px;
	right: 350px;

}
.box_day2{
	position: absolute;
	top: 70%;
	left: 38%;

}

/*position of box action*/
.box_action{
	position: absolute;
	top: 40px;
	right: 200px;
}
.box_action2{
	position: absolute;
	top: 70%;
	left: 53%;
}
.e_detail{
	width: 70%;
	height: 50%;
	border : 0.5px solid black;
	position: absolute;
	z-index: 3;

}
.title{color: #A0522D;text-align : center;}
div.days:first-child,
div.date:nth-child(7n+1)
{
	color: red;
}
* { box-sizing: border-box; }
body { 
  margin: 0; 
  padding: 0;  
  font-family: Raleway; 
  text-transform: uppercase; 
  font-size: 11px; 
}

h1{ margin: 0; }
#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  top: -114px;
  right: 472px;
  margin: 4em auto;
  font-family: monospace;
  border-radius: 20px;
  font-size: 20px;
  width: 130px; 
  height: 30px; 
  line-height: 30px;
  background: #F77527;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}
#contact:hover { background: #FFB653; }

#contactForm { 
  font-family: monospace;
  display: none;
  border-radius: 20px; 
  padding: 2em;
  width: 287px;
  height: 378px;
  text-align: center;
  background: #FBFBFB;
  position: fixed;
  z-index: 3;
  top:50%;
  left:45%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}

.formBtn { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.logout
{
  position: absolute;
  top: 60px;
  right: 62px;
  padding-bottom:4px;
  padding-left: 7px;
  padding-right: 7px; 
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
  transition-duration: 0.4s;
  background-color: #FF5372;
  border: none;
  font-size: 20px;
  color: white;
}
.logout:hover
{
  background-color: #F47E9E;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#title
{
  background-color: #FBFBFB; 
  border: 0px; 
  border-bottom: 2px solid #C6EFFB;
  font-family: monospace;
  font-size: 18px;
  padding: 3px;
}

#position_d
{
  position: relative;
  top: 35px;
  left: -5px;
}

#position_t
{
  position: relative;
  top: 45px;
  left: -6px;
}

#position_t2
{
  position: relative;
  top: 50px;
  left: 55px;
}

#position_des
{
  position: relative;
  top: 61px;
  left: 4px;
}

#position_c
{
  position: relative;
  top: 75px;
  left: -73px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 0px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0px 0px 0px 0px;
}
input[type="color"]::-webkit-color-swatch {
  border: 0px;
  border-radius: 10px;
}

a {
  text-decoration-line: none;
}


.dropbtn2 {
  background-color: #BE93EE;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  z-index: 2;
}
.vl {
  border-left: 4px solid black;
  height: 690px;
  position: absolute;
  right: 452px;
  margin-left: -3px;
  top: 119px;
}

.dropbtn {
  position: absolute;
  left: 1217px;
  top: 62px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 1217px;
  top: 88px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: monospace;
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8CECFF; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}


#style-2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #EEEEEE;
}

#style-2::-webkit-scrollbar
{
  width: 12px;
  background-color: #EEEEEE;
}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: #FFA459;
}

.month{
   font-family: monospace;
   font-size: 100px;
   position: absolute;
   left: 65px;
   top: -12px;
}


.button3
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 122px;
  bottom: 52px; 
  font-family: monospace;
}
.button3:hover
{
  background-color: #64DFA2;
}

.button4
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 112px;
  bottom: 23px;
  font-family: monospace;
}
.button4:hover
{
  background-color: #FE6D6D;
}

.day {
	position: relative;
	left: 130px;
	top: 144px;
	font-family: monospace;
	font-size: 40px;
}

.todaybutton
{
  position: absolute;
  left:1105px;
  top: 63px;
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 20px;
  color: white;
}
.todaybutton:hover
{
  background-color: #8CECFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}