html,
body{
	width:100%;
	height:100%;
	max-width:1600px;
	min-width:1300px;
}

#header
{
	font-family: fantasy;
	font-size: 50px;
	text-align: center;
	align-items: center;
}

.align
{
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	position: relative;
	top: 180px;
}

#email
{
	position: relative;
	font-family: monospace;
	font-size: 19px;
}

#pwd
{
	font-family: monospace;
	font-size: 19px;
	position: relative;
	top: 25px;
}

#login_button
{
	font-family: monospace;
	position: relative;
	top: 40px;
}

#show
{
	font-family: monospace;
	font-size: 10px;
	position: relative;
	top: 25px;
	left: 15px;
}

.position
{
	position: relative;
	top: 50px;
}

input[type=text]
{
	border: none;
	border-bottom: 2px solid black;
	height: 20px;
	padding-left: 10px;
	padding-top: 3px; 
}

input[type=password]
{
	border: none;
	border-bottom: 2px solid black;
	height: 20px;
	padding-left: 10px;
	padding-top: 3px; 
}

.box
{
	position: absolute;
	top: 130px;
	left: 580px;
	border-radius: 35px;
	background-color: white;
	width: 350px;
	height: 300px;
}

.box2
{
	position: absolute;
	top: 280px;
	left: 750px;
	border-radius: 35px;
	background-color: grey;
	width: 350px;
	height: 300px;
}

.align_content
{
	position: relative;
	bottom: 100px;
}

.button
{
  transition-duration: 0.4s;
  background-color: #213145;
  border: none;
  font-size: 15px;
  color: white;
}
.button:hover
{
  background-color: #8CECFF;
}

a {
  color: black;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', monospace;
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 10px;
	width: 100%;
	border-bottom: 2px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	}

a.effect-underline:hover:after {
 	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}