html,
body{
	width:100%;
	height:100%;
	max-width:1600px;
	min-width:1300px;
}

#header
{
	font-family: fantasy;
	font-size: 50px;
	text-align: center;
	align-items: center;
}

#instruction
{
	font-family: fantasy;
	font-size: 30px;
	position: relative;
	left: 50px;
	top: -20px;
}

#instruction:hover
{
	color: #FF915B;
}

.box_inst
{
	position: absolute;
	top: 200px;
	left: 70px;
	border-radius: 20px;
	background-color: white;
	width: 730px;
	height: 190px;
}

.group
{
	position: absolute;
	top: 205px;
	left: 80px;
	font-family: monospace;
	font-size: 15px;
}

#toggle
{
	display: none;
}

#align
{
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	position: relative;
	top: -26px;
}

input[type=text]
{
	border: none;
	border-bottom: 2px solid black;
	height: 20px;
	padding-left: 10px;
	padding-top: 3px; 
}

input[type=password]
{
	border: none;
	border-bottom: 2px solid black;
	height: 20px;
	padding-left: 10px;
	padding-top: 3px; 
}

#f_name
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 20px;
	left: -14px;
}

#s_name
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 20px;
	left: 3px;
}

#usr
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 35px;
	left: -160px;
}

#mail
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 47px;
	left: -144px;
}

#pwd
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 60px;
	left: -15px;
}

#conf
{
	font-family: monospace;
	font-size: 20px;
	position: relative;
	top: 60px;
	left: 10px;
}

.button
{
	position: relative;
	top: 80px;
	transition-duration: 0.4s;
	background-color: #213145;
	border: none;
	font-size: 15px;
	color: white;	
}
.button:hover
{
	background-color: #FF915B;
}

a {
	color: black;
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-family: 'Dosis', monospace;
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 10px;
	width: 100%;
	border-bottom: 2px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	}

a.effect-underline:hover:after {
 	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.box
{
	position: absolute;
	border-radius: 20px;
	background-color: #8AD2FD;
	left: 400px;
	width: 730px;
	height: 285px;
}